@use "../GlobalStyling/mixin";
@use "../GlobalStyling/colors";

// TWO MAIN CONTAINERS FROM COMPANY INFO FOLDER!
.editInfoCompany,
.editBankCompany {
  @include mixin.overflowScroll();
  height: 100%;
  width: 100%;
  display: grid;
}

.companySelect {
  margin-left: 40px;

  padding: 10px 20px;
  border-color: #cdc9c9;

  @include mixin.inputUpdateValue;
}
